certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-option-group==0.5.2
colorama==0.4.4
flake8==3.8.4
future==0.18.2
idna==2.10
maclookup==1.0.3
mccabe==0.6.1
netaddr==0.8.0
netifaces==0.10.9
paho-mqtt==1.5.1
python-dateutil==2.8.1
python-dotenv==0.15.0
requests==2.25.1
scapy==2.4.4
six==1.15.0
SQLAlchemy==1.3.22
urllib3==1.26.3
