certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-option-group==0.5.2
future==0.18.2
greenlet==1.0.0
idna==2.10
maclookup==1.0.3
netaddr==0.8.0
paho-mqtt==1.5.1
python-dateutil==2.8.1
python-dotenv==0.15.0
requests==2.25.1
responses==0.13.1
scapy==2.4.5
six==1.15.0
SQLAlchemy==1.4.2
urllib3==1.26.4
